:root {
  --color-primary: #204e4a;
  --color-primary-dark: #0b2027;
  --color-white: #f4ebd9;
  --color-accent: #297045;

  --font-family-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  --font-family-heading: "Open Sans", var(--font-family-fallback);
  --font-family-body: "Marcellus", var(--font-family-fallback);

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-semibold: 500;

  --font-spacing-spread: 0.1em;

  --font-size-heading-1: 32px;
  --font-size-heading-2: 24px;
  --font-size-heading-3: 20px;
  --font-size-ui: 16px;
  --font-size-ui-small: 12px;
  --font-size-body: 18px;
  --font-size-body-small: 14px;

  --font-height-heading-1: 40px;
  --font-height-heading-2: 32px;
  --font-height-heading-3: 24px;
  --font-height-ui: 24px;
  --font-height-ui-small: 16px;
  --font-height-body: 32px;
  --font-height-body-small: 20px;

  --spacing-00: 1px;
  --spacing-10: 8px;
  --spacing-20: 16px;
  --spacing-30: 20px;
  --spacing-40: 32px;
  --spacing-50: 40px;
  --spacing-60: 128px;
  --spacing-70: 256px;
}
