.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--spacing-10);
}

.base {
  background-color: var(--color-white);
  width: 100%;
  padding: var(--spacing-30);
  z-index: 100;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header {
  z-index: 100;
  width: 100%;
  justify-content: space-between;
  background-color: var(--color-white);
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  right: var(--spacing-10);
  top: calc(var(--header-height) + var(--spacing-10));
  padding: var(--spacing-10);
  background-color: var(--color-surface);
}
